body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.child {
  width: 100px;
  height: 100px;
  background-color: #f00;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 8px;
}
.middle {
  display: flex;
  flex-direction: column;
}

.container {
  background-color: aqua;
  padding: 8px;
  display: flex;
}
